$primary-color: rgba(210, 77, 87, 1);
$primary-color--transparent: rgba(210, 77, 87, 0.58);
$secondary-color: #22313F;
$tertiary-color: #E9D460;

$background-color: $secondary-color;
$button-background: rgba(14, 14, 14, 0.58);

@mixin carbon-fibre-bg {
	background:
	radial-gradient(black 15%, transparent 16%) 0 0,
	radial-gradient(black 15%, transparent 16%) 8px 8px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color: $background-color;
	background-size:16px 16px;
}

@keyframes pound {
	to { transform: scale(1.5); }
}

.site {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	font-family: 'Fauna One', sans-serif;

	&__header {
		background-color: $primary-color--transparent;
		padding: 2rem 1rem;

		font-family: 'Monoton', sans-serif;
		font-size: 2.5rem;
		color: $secondary-color;

		&::before {
			content: '#';
		}

		&:hover {
			background-color: $primary-color;

			&::before {
				color: $tertiary-color;
			}
		}
	}

	&__title {
		margin: 0;
		font-weight: unset;
		font-size: inherit;
		display: inline;
	}

	&__content {
		@include carbon-fibre-bg

		flex: 1;
		color: $tertiary-color;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

		background-color: $primary-color--transparent;
		padding: 1rem .5rem;

		font-size: .8rem;

		&:hover {
			background-color: $primary-color;
		}
	}

	&__insult {
		text-align: center;
		font-size: 2rem;
		text-transform: capitalize;
	}

	&__time {
		text-transform: uppercase;
		color: white;
		padding: 0 .5rem;
	}

	.site__icon {
		height: 4rem;
		border-radius: 100px;
		float: right;
		margin: 0 1rem;

		&:hover {
			animation: pound .4s infinite alternate;
		}
	}
}

.extra-button {
	padding: .8rem;
	font-size: 1.2rem;
	background-color: $button-background;
	color: white;

	cursor: pointer;

	border: 1px white solid;
	border-radius: 4px;

	&:hover {
		border-color: $primary-color;
		color: $primary-color;
		border-radius: 40px;

		transition:
			border-radius .2s linear,
			color .6s linear,
			border-color .6s linear;
	}
}

.extra-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;

	padding: 0 1rem;

	&__item {
		color: white;

		display: inline-block;
		padding: .3rem .8rem;
		font-size: 1rem;
		text-transform: capitalize;
	}
}

.hide {
	display: none;
}